[Unit]
Description=APEX
After=local-fs.target

[Container]
Image=apex
ContainerName=apex
Label=io.containers.autoupdate=local
Network=host

[Install]
WantedBy=multi-user.target default.target
