[Unit]
Description=Postgres
After=local-fs.target

[Container]
Image=postgres
ContainerName=pg
Label=io.containers.autoupdate=local
Volume=/home/postgres-data:/var/lib/postgresql/data 
Network=host
Environment=POSTGRES_PASSWORD=postgres

[Install]
WantedBy=multi-user.target default.target
